<section>
    <h1 class="page-header" ng-click="toNextPage('model-page')">Model & Data binding</h1>
</section>
<section>
    <h1 class="page-header" ng-click="toNextPage('controller-page')">Controller</h1>
</section>
<section>
    <h1 class="page-header" ng-click="toNextPage('view-page')">View</h1>
</section>
<section>
    <h1 class="page-header" ng-click="toNextPage('module-page')">Module</h1>
</section>
<section>
    <h1 class="page-header" ng-click="toNextPage('service-page')">Service</h1>
</section>
<section>
    <h1 class="page-header" ng-click="toNextPage('directive-page')">Directive</h1>
</section>
<section>
    <h1 class="page-header" ng-click="toNextPage('filter-page')">Filter</h1>
</section>